.sun-info img{
    margin-left: 25%;
}

.sun-info h1{
    margin-left: -83%;
}

.betelguese-info img{
    margin-left: 22%;
}

.betelguese-info h1{
    margin-left: -65%;
}

.sirius-info img{
    margin-left: 23%;
}

.sirius-info h1{
    margin-left: -80%;
}