.ogle-2016-blg-1195lb-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.ogle-2016-blg-1195lb-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.kelt-9b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.kelt-9b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.gj-1214b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.gj-1214b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.pSR-J1719-1438-b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.pSR-J1719-1438-b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.kepler-16b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.kepler-16b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.kepler-10b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.kepler-10b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.tres-2b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.tres-2b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.hd-189733b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.hd-189733b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.corot-7b-exo-info {
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
}

.corot-7b-exo-info img {
  margin-left: -55%;
  width: 1920px;
  height: 1080px;
}

.exo-info-info {
  margin-left: 3%;
}

.exo-info-info h1 {
  color: white;
  margin-right: 5%;
  font-size: 70px;
}

.exo-info-info ul {
  margin-left: 1%;
  color: white;
  font-family: "Montserrat";
  font-size: 27px;
}
